html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
/* relative postion is for parent */
.parent{
    height:30%;
    width: 35%;
    background-color: lightgreen;
    border: solid 1px black;
    position: relative;
    /* top left */
    /* bottom right */
    top: 50px;
    left: 50px;

}
/* absolute works on child element whose parent is relative in position */
.child{
    height: 30%;
    width: 35%;
    background-color: lightpink;
    border: 1px solid black;
    position: absolute;
    top: 10px;
    left: 10px;
}
.chatbot{
    height: 80px;
    width: 80px;
    background-color: navajowhite;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    opacity:0.8;
    border-radius: 40%;
    position: fixed;
    right: 0;
    bottom: 0;

}
.stick{
    height: 10%;
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: sticky;
    top: 0;
    left: 0;
}